<h2 class="mt-5">
    It works! You're on Aero!
</h2>

<h4>
    Next steps:
</h4>
<ul>
    <li>
        Explore the <a href="https://aero.io/docs" target="_blank">documentation</a>
    </li>
    <li>
        You can learn how to
        <a href="https://aero.io/docs/guides/self-host-the-docs" target="_blank">
            self-host the docs in development
        </a>
    </li>
    <li>
        Or how to
        <a href="https://aero.io/docs/guides/blog-in-15-minutes" target="_blank">
            create a simple blog application in 15 minutes
        </a>
    </li>
    <li>
        Happy hacking!
    </li>
</ul>
