<h3>
    You have signed up for an account at <%= currentDomain %>
</h3>

<p>
    Follow this link to confirm your email address <a href="<%= emailConfirmationLink %>">
        <%= emailConfirmationLink %>
    </a>
</p>
