<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aero</title>
    <%- localStyleTag("application") %>
</head>
<body>
    <main class="container-md">
        <%- yield %>
    </main>
</body>
</html>
